[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim.git
